<!DOCTYPE html>
<html>
  	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    	<style type="text/css">
    	.header_logo_wrapper {
			    margin: 0 auto;
			    text-align: center;
			    width: 180px;
			    height: 180px;
			}
    	</style>
  	</head>
  	<body>
  		<div class="header_logo_wrapper" style="margin:0 auto; text-align:center" width='180px' height="180px">
  			<img src="http://shapp.dk/assets/base_logo.png">
  		</div>
    	<h1 style="text-align:center;">Hi <%= @user_name %></h1>
    	<h1 style="text-align:center;">
      		<%= @email_text %>
    	</p>
  </body>
</html>
