<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Contacts Received</h3>
    </div>
    <div class="box-body">
        <table id="brands_table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="sorting_disabled center" style="width: 31px !important"></th>
                    <th>Full Name</th>
                    <th class="sorting_disabled">Email Address</th>
                    <th class="sorting_disabled">Created At</th>
                    <th class="sorting_disabled">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="dataTables_empty" colspan="5">Loading received messages from server</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
  $(document).ready(function(){
    $("#brands_table").dataTable({
        "bJQueryUI"       : true,
        "bProcessing"     : true,
        "bAutoWidth"      : false,
        "sPaginationType" : "full_numbers",
        "aoColumns"       : [{"sType" : "html"}, null, null, null, null],
        "aaSorting"       : [[0, 'asc'], [1, 'asc']],
        "bServerSide"     : true,
        "sAjaxSource"     : "/contacts.json",
        "language": {
            "zeroRecords": "No contacts found",
            "infoEmpty": "No contacts available"
        }
    })
  })
</script>